

body { background-color: burlywood;}

img {
    width: auto;
    height: 40%;
    border: 1px solid #000;
    margin: 10px 0;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: darkslategray;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

h1 { color: wheat;
    text-align: center;
    border: 3px solid black;
  padding: 25px;
  margin: 50px;
  background-color: chocolate;}

h2 { color: wheat;
    text-align: center;
    border: 1px solid black;
    padding:5px;
    margin: 25px;
    background-color: chocolate;
    font-family:  Arial, Helvetica, sans-serif;
}
   
h3 {
    color: wheat;
    text-align: center;
    border: 1px solid black;
    padding:5px;
    margin: 25px;
    background-color: chocolate;
    font-family:  Arial, Helvetica, sans-serif;
}

div {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    color: wheat;
    text-align: center;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
    background-color: chocolate;
    font-family:  Arial, Helvetica, sans-serif;
}

ul { color: darkslategray;
    font-family: Arial, Helvetica, sans-serif; 
    
}

ol {
    color: darkslategray;
    list-style-type: upper-roman; 
    font-family: Arial, Helvetica, sans-serif;
}

footer{ color: darkolivegreen;}